.git
.gitignore
.vscode
.idea
node_modules
vendor
bootstrap/cache/*.php
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/framework/testing
public/hot
public/build
npm-debug.log
pnpm-debug.log
yarn-error.log
*.log
.env
.env.*
